<!DOCTYPE html>
<html>
  <head>
    <title>Food Assistance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <a href="/">Aktualny tydzien</a>
      <a href="#contact">Zaplanuj menu</a>
      <a href="#contact">Lista posiłków</a>
      <%= link_to "Nowy Posiłek", new_meal_path %>
      <a href="/menu/new">Lista Zakupów</a>
    </div>

    <div class="yield-container">
      <%= yield %>
    </div>
  </body>
</html>
